
<h1>Editor
</h1>
<h2>Fill out form to filter playlist
</h2>
<form id="search-form" action="/editor" method="POST">

    <label for="user">UserID:</label>
    <input type="text" id="id" name="id" required = "true">
    <br>
    <label for="time">Time (ms):</label>
    <input type="text" id="time" name="time">

    <label for="comparison">Time Comparison:</label>
    <select id="comparison" name="comparison">
        <option value="less-than">Less Than</option>
        <option value="greater-than">Greater Than</option>
    </select>
    <br>
    <label for="artist">Artist:</label>
    <input type="text" id="artist" name="artist">
    <br>
    
    <input type="submit" value="Search">
</form>