<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="/public/styles/userHeader.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div class="profile-header">
        <div class="profile-container">
            <img class="profile-image" src={{pfp}} alt="User Image">
            <div class="profile-info">
                <p>Username: {{username}}</p>
                <button>Logout</button>
            </div>
        </div>

        <div class="form-container">
            <form id="change-user" action="/myAccount" method="POST">
                <label for="username">New Username:</label>
                <input type="text" id="username" class="form-input" name="username">

                <label for="pfp">Link to new Profile Picture:</label>
                <input type="text" id="pfp" class="form-input" name="pfp">

                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="bullet-points">
            <p>Bullet Points:</p>
            <ul>
                <li class="bullet-point">Point 1</li>
                <li class="bullet-point">Point 2</li>
                <li class="bullet-point">Point 3</li>
            </ul>
        </div>
    </div>

</body>
</html>
