<head>
    <title>User's Playlist</title>
</head>
<body>
    <h1>{{username}}'s Playlist</h1>
    <ul>
        {{#each songs}}
            <li>{{this.title}} - {{this.artist}}</li>
        {{/each}}
    </ul>
</body>
</html>